body{
    background:radial-gradient(lightblue,lightgreen,yellow);
}
h1{
    color:blue;
    margin-top:0px;
    top:0;
    background-color:white;
    height:50px;
    font-size:40px;
}
#show_sketch{
    float:right;

}
p{
    padding-top:10px;
    font-size:25px;

}
canvas{
    border-radius:20px;
    border:5px solid white;
    margin-top:50px;
    animation-name:example;
    animation-duration:4s;
    animation-iteration-count:infinite;
}
@keyframes example{
    from{box-shadow:1px 1px 38px black;}
    to{box-shadow:1px 1px 38px gray;}
}